body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif; 
  color: #13283d;
  font-size: 15px;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: #13283d;
}

a:hover{
  color: #f7c216;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.container{
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
  min-width: 600px;
  max-width: 900px;
}

h3, h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #13283d;
  margin: 0;
}

h1{
  font-size: 33px
}

h3{
  font-size: 15px;
  margin-bottom: 12px;
}

header{
  height: 50px;
}

.main-banner{
  background-image: url("../images/home-banner.jpg");
  height: 80vh; /* viewpoint height - hace que la imagen cubra el 80% de la pantalla */
  background-position: center bottom; /* center: horizontalmente / bottom: centra desde abajo */
  background-repeat: no-repeat; 
  background-size: cover /* los valores posibles son cover (expande la imagen) y contain (la contrae) */
}

.main-banner .logo{
  float: left;
  margin: 10px 0 0 0;
}

.main-banner nav{
  float: right;
  margin: 15px 0 0 0;
}

.main-banner li{
  display: inline-block;
  margin: 0 20px;
}

.main-banner-content {
  height: calc(50% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
}

.primaryButtons .learnMore{
  color:  #f7c216;
  background-color: #13283d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  margin-right: 4px;
}

.primaryButtons .seeCourse{
  color:  #13283d;
  background-color: #f7c216;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
  margin-left:4px;
}

.primaryButtons{
  margin: 20px 0 0 0;
}

.awesomeFeature{
margin: 60px 0 0 0;
}

.awesomeFeature h3{
  text-align: center;
  font-size: 26px;
  margin: 0 0 5px 0;
}

.awesomeFeature .centerParragraph{
  text-align: center;
  font-size: 12px;
  font-style: italic;
  margin: 0 0 40px 0;
}

.features-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.features-item {
  padding: 20px;
  background-color: rgb(243, 245, 247);
  margin: 0 10px;
}

.ourPopularCourses{
  margin: 60px 0 0 0;
}

.ourPopularCourses h3{
  text-align: center;
  font-size: 26px;
  margin: 0 0 5px 0;
}

.ourPopularCourses .centerParragraph{
  text-align: center;
  font-size: 12px;
  font-style: italic;
  margin: 0 0 40px 0;
}

.computerCourse {
  padding: 20px;
  background-color: rgb(243, 245, 247);
  margin: 0 10px;
}

.courses-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.computerCourse, .customCourse, .socialCourse{
  padding: 0;
  margin: 0 10px;
  background-color: rgb(243, 245, 247);
  position: relative;
}

span.price{
  background-color: #f7c216;
  color: #13283d;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: 1px solid #f7c216;
  position: absolute;
  top: 40%;
  right: 10px; 
  text-align: center;
  font-weight: bold;
  line-height: 40px;
}

.courseInfo{
padding: 0 15px 0 15px;
}

.courseInfo .design{
  color:  white;
  background-color: #13283d;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 10px;
}

.courseText p{
  color: grey;
}

.avatar img{
  border-radius: 100px;
}

.interactions{
  height: 50px;
  overflow: hidden;
}

.avatar{
  float:left;
}

.interactionButtons {
  float: right;
  line-height: 45px;
}

.interactionButtons a{
  left: 60px;
  margin: 0 10px 0 0;
}

.registerNowBody{
  background-color: #13283d;
  margin: 50px 0 0 0;
}

.registerNow{
  color: white;
  display: inline-block;
  width: 60%;
  margin: 50px 0;
}

.registerNowText{
  text-align:left;
}

.registerNowCountdown{
  display: flex;
  flex-direction: row;
}

.registerNowCountdown div{
  border: 1px solid white;
  padding: 27px;
  border-radius: 5px;
  background-color: rgb(36, 83, 129);
  margin: 10px 5px;
}

.registerNowCountdown .number{
font-size: 21px;
font-weight: bold;
}

form {
  background-color: white;
  display: flex;
  flex-direction: column;
  float: right;
  padding: 20px 40px;
  position:relative;
  top: 30px;
  margin: 0 0 60px 0;
}

.formText{
  text-align:center;
}

.formText p{
  margin: 5px 0 20px 0;
  font-size: 11px;
}

.formText h4{
  margin: 0;
  font-size: 18px;
  text-align: center;
}

form input{
  background:none;
  border:none;
  border-bottom: 1px solid grey;
  margin: 10px 0;
}

form input.submit{
  background-color: #f7c216;
  color: #030521;
  font-weight: bold;
  padding: 15px;
  border: none;
  margin: 13px 0 0 0;
}

.trainersSection{
  margin: 60px 0 0 0;
}

.trainerInfo {
  margin: 0 15px;
}

.trainersSection h3{
  text-align: center;
  font-size: 26px;
  margin: 0 0 5px 0;
}

.trainersSection .centerParragraph{
  text-align: center;
  font-size: 12px;
  font-style: italic;
  margin: 0 0 40px 0;
}

.trainer {
  box-shadow: 1px 1px 5px rgba(82, 81, 81, 0.2);
  min-width: 20%;
  flex-basis: 20%;
  flex: 1;
  border: 1px solid rgb(235, 235, 235);
  margin: 0 5px;
}

.trainersList{
  display: flex;
  flex-direction: row;
}

.trainerInfo{
  text-align:center;
}

.trainerName h4{
  font-weight: bold;
  font-size:16px;
  margin: 12px 0 0 0;

}

.trainerName p{
  margin: 5px;
  font-size: 13px;
}

.trainerDescription p{
  margin:40px 2px;
  font-size: 13px;
  color:grey;
}

.trainerSocialMedia .trainerButtons li{
  display: inline;
}

.trainerSocialMedia .trainerButtons .icon{
  margin: 15px 8px;
}

.upcomingEvents{
background-color: #13283d;
margin: 80px 0 20px 0;
}

.upcomingEventsTitle{
margin: 40px 0 30px 0;
}

.upcomingEventsTitle h3{
  text-align: center;
  font-size: 26px;
  padding: 60px 0 0 0;
  color: white;
}

.upcomingEventsTitle p{
  text-align: center;
  font-size: 12px;
  font-style: italic;
  margin: 0 0 40px 0;
  color: rgba(255, 255, 255, 0.534);
}

.events {
  display: flex;
  flex-direction: row;
  color: white;
  text-align:center;
  margin: 0 0 50px 0;
}

.events .leftEvent, .events .rightEvent{
  margin: 50px 20px 0 0;
}

.upcomingEventsContainer{
  padding: 50px 50px;
}

.leftEvent, .rightEvent{
  position: relative;
}

.eventInfo{
  margin: 0;
  padding: 20px;
  background-color: rgba(121, 121, 131, 0.4);
  width: 55%;
  height: 70%;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  float:left;
}

.eventDate, .eventPlace {
  display: inline-block;
  padding-right: 9px;
  margin:15px 0 5px 0;
}

.eventDate{
  border-right: 1px solid white;
}

.eventPlace{
  font-weight:normal;
  margin: 0;
  font-size: 13px;
  padding-left: 10px;
  text-align: left;
}

.eventDate span{
color: #f7c216;
}

.eventDescription{
  font-size: 13px;
  margin: 7px 0 20px 0;
  text-align: left;
}

.viewDetails{
  background-color: #f7c216;
  padding: 10px 20px;
  margin: 0 0 20px 0;
  float: left;
}

.view-all{
  color: #f7c216;
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 12px;
  margin: 0 0 80px 0;
}

.clientTitle{
  margin: 60px 0 0 0;
}

.clientTitle h3{
  text-align: center;
  font-size: 26px;
  margin: 0 0 5px 0;
}

.clientTitle p{
  text-align: center;
  font-size: 12px;
  font-style: italic;
  margin: 0 0 60px 0;
}

.clients{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 50px 0;
}

.clientsInfo{
  box-shadow: 4px 15px 20px rgba(82, 81, 81, 0.2);
  margin: 0 10px;
  padding: 20px;
}

.clientsInfo img{
  float: left;
  margin-right: 25px;
  min-width: 110px;
  box-shadow: 2px 2px 5px rgba(82, 81, 81, 0.2);
}

.clientName h5{
  font-size: 18px;
  font-weight: bold;
}

.clientName p{
  font-size: 14px;
  color: grey;
}

.dots{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}





