body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

.main-banner{
  background: url("../images/home-banner.jpg") no-repeat center bottom;
  background-size:cover;
  height: 100vh; /* vh = viewport height*/
}

.main-banner-content {
  height: calc(75vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header{
  height: 50px;
}

.container{
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
  min-width: 600px;
  max-width: 900px;
}

a{
  text-decoration:none;
  font-weight: bold;
  color: #030521
}

.logo{
  background: url("../images/logo.png") no-repeat left bottom;
  background-size: 100px;
  display: inline-block;
  width: 100px;
  margin-top: 10px;
}

nav{
  display: block;
  float: right;
  overflow: hidden;
}

ul {
  list-style: none;
  font-size: 12px;
  text-align: center;
  padding:0 0 0 15px;
}

li {
  display:inline;
  padding-left:3px;
  padding-right:0px;
}

h3, h1 {
  text-align: center;
  color: #010546;
  margin: 0;
}

h1{
  font-size: 45px
}

h3{
  font-size: 23px;
  font-variant: bold;
  margin: 30px auto 12px;
}

div .primarybuttons {
  position: relative;
}

.primarybuttonleft {
  display: block;
  border:1px solid #010546;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  margin: 10px 0 0 0;
  padding:7px 0;
  height: 30px;
  box-sizing: border-box;
  color: rgb(216, 216, 6);
  background-color: #010546;
  text-decoration:none;
  position: absolute;
  left: 300px;
  transition:background-color, 0.5s;
}

.primarybuttonright {
  display: block;
  border:1px solid rgb(216, 216, 6);
  border-radius: 10px;
  width: 100px;
  text-align: center;
  margin: 10px 0 0 0;
  padding:7px 0;
  height: 30px;
  box-sizing: border-box;
  color: #010546;
  background-color: rgb(216, 216, 6);
  text-decoration:none;
  font-style: bold;
  position: absolute;
  left: 450px;
  transition:background-color, 0.5s;
}

section h3 {
  margin-top: 50px
}

p.centerParragraph {
  margin: 10px auto 100px;
  width: 450px;
  font-style: italic;
  color: #6d6d6d
}

.features-list {
  display: flex;
  flex-direction: row; /*valor por defecto del flex*/
  justify-content: space-between;
}

.features-item {
  padding: 20px;
  background-color: rgb(241, 245, 248);
  margin: 0 10px;
}

.features-item h4 {
  font-variant: bold;
  color: #010546
}

.features-item p {
  color: #6d6d6d
}

.icon-hat {
  background: url("../images/pawprint.png") ;
  background-size: 100px;
  display: block;
  width: 50px;
}
/*
OUR POPULAR COURSES
*/
.features-item-images{
  display: inline-block;
  padding: 0px;
  margin: 50px 8px 0px;
  position:relative;
}

.price{
  font-weight: bold;
  color: #010546;
  border: 1px solid #f7c216;
  border-radius: 100%;
  padding: 10px;
  background-color: #f7c216;
  position: absolute;
  top: 47%;
  right: 5%;
}
