body{
  margin: 0;
}
.main-banner{
  background: url("../images/home-banner.jpg") no-repeat center bottom;
  background-size:cover;
  height: 100vh; /* vh = viewport height*/
}

.main-banner-content {
  height: 1000px;
}

header.container{
  height: 50px;
  padding-top: 20px;
  align-content: center 
}

.container{
  margin: 0 auto;
  overflow: hidden;
  width: 140%;
  min-width: 450px;
  max-width: 900px;
  align-content: center
}

.logo{
  float:left;
}

nav{
  float: right;
} 

ul{
  margin: 10px 0 0 0;
}

ul li a{
  text-decoration: none;
  color: #0a3763;
  padding: 0 10px;
}

li{
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold
}

li:hover{
  font-size: 19px;
  transition: 0.5s;
}


li a.magGlass img{
  width: 20px;
  transform: translate(0, 5px)
}

li a.magGlass img:hover{
  width: 40px;
  transition: 0.5s;
}

div .main-banner-content{
  margin-top: 80px
}


h3, h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #0a3763;
  margin: 0;
}

h1{
  font-size: 48px
}

h3{
  font-size: 24px;
  margin-bottom: 12px;
}

div.primarybuttons{
  margin: 30px auto;
  width: 150px;
  padding: 12px 60px;
}

a.learn{
  color: #F2E811;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  background-color: #0a3763;
  text-decoration: none;
  padding: 15px 50px
}

a.learn:hover{
  font-size: 17px;
  color:#fff;
}

a.see{
  color: #14406d;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  background-color: #F2E811;
  text-decoration: none;
  padding: 15px 50px
}

a.see:hover{
  font-size: 17px;
  color:#fff;
}

.titleBelow{
  font-family: Arial, Helvetica, sans-serif;
  color: #0a3763;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 80px
}

p.centerParragraph{
  margin: 0 auto;
  text-align: center;
  font-style: italic;
}

.features-list {
  display: flex;
  flex-direction: row; /*valor por defecto del flex*/
  justify-content: space-between;
  margin-top: 40px;
}

.features-item {
  padding: 20px;
  background-color: rgb(222, 229, 235);
  margin: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #0a3763;
  font-size: 14px; 
}

.features-item h4{
  font-size: 16px;
  margin-bottom: 5px;
}

.features-itemBis{
  background-color: rgb(222, 229, 235);
  margin: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #0a3763;
  font-size: 14px;
}

span.photo img{
  width: 280px;
  margin-bottom: 50px;
  
}

p.price{
  background-color: #F2E811;
  width: 30px;
  height: 70px;
  border-radius: 50%;
  float: right; 
  margin: 0 7px 80px 0;
  transform: translate(-3px, -85px);
  text-align: center;
  line-height: 65px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: bold
}

.features-itemBis h4{
  padding: 0 20px;
  font-size: 16px;
  margin: 30px 0 20px 0;
  color: #0a3763;
}

div.features-itemBis p{
  padding: 0 20px;
  color: #0a3763
}

div.features-itemBis a.desButtom{
  font-family: Arial, Helvetica, sans-serif;
  color: #F2E811; 
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  background-color: #0a3763;
  padding: 10px 20px;
  margin-left: 22px;
  margin-top: 60px;
}    


div a.desButtom:hover{
  color: #fff;
  font-size: 16px;
}

div.favIcons img{
  float: left;
}

div.favIcons p{
  float: left;
  transform: translate(-10px, 15px);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
}

div.favIcons img.favs{
  float: right;
  transform: translate(0px, -26px)
}

div.register{
  height: 400px;
  background-color: #0a3763;
  color: #fff;
  margin-top: 150px;
}

div.register h3{
  color: #fff;
  transform: translate(-300px, 120px);
  font-size: 28px;
}
 div.register p{
  transform: translate(60px, 120px); 
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
 }

ul.time{
  transform: translate(20px, 150px);
  margin-top: 35px;
  
}

ul.time li{
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #fff;
  background-color: #517da8;
  padding: 25px 20px; 
  border-radius: 15px;
  margin-right: 8px 
} 

div.courses{
  color: #0a3763;
  background-color: #fff;
  float: right;
  width: 250px;
  height: 330px;
  margin-right: 18px;
  font-family: Arial, Helvetica, sans-serif; 
  padding-left: 30px;
  transform: translate(0, -75px) 

}

div.courses h5{
  font-size: 28px;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #0a3763;
}


div.courses p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: rgb(114, 114, 110);
  transform: translate(15px, -10px)
}

div.courses form{
  font-size: 16px;
  color: rgb(144, 114, 110);
  font-weight: bold;
  margin-right: 10px;
  margin-top: 25px; 
  
}
 div.courses input{
   border: none;
   border-bottom: 1px solid rgb(144, 114, 110); 
   padding: 5px 0px;
   margin-bottom: 8px;
}

input.enviar{
  font-size: 18px;
  width: 170px;
  background-color:#F2E811;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #0a3763;
  margin-top: 10px;
}

div.fondo{
  background-color: #fff;
}

div.definition h4{
  transform: translate(38px, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 7px;
}

div.definition h6{
  transform: translate(24px, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: rgb(118, 120, 121);
  margin: 3px 6px 25px 0;
} 

img.logosRed{
  transform: translate(35px, 0);
  margin-bottom: 20px;
  height: 30px ;
}

div.definition p{
color: rgb(118, 120, 121);
font-size: 14px;

}
