body {
    margin: 0 auto;
}
header {
    display: flex;
    position: right;
    height: 100px;
    width: 80%;
    max-width: 80vh;
}
nav {
    float: right;
    display: flex;
}
ul {
    display: flex;
    float: right;
    overflow: hidden;
    padding: 0px;
}
li {
    display: inline;
    margin: 10px;
}
h3, h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: #336699;
    margin: 0;
    display: inline;
}
h3{
font-size: 15px;
margin-bottom: 12px;
}
h1{
font-size: 38px;
}
.main-banner{
    background: url("../images/home-banner.jpg") no-repeat center bottom;
    background-size: cover;
    height: 80vh; /* vh = viewport height*/
  }
  .main-banner-content {
    height: calc(80vh - 200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container{
    margin: 0 auto;
    width: 90%;
    min-width: 600px;
    max-width: 900px;
  }
  .logo{
    float:left;
    margin-top: 10px;
  }
  h1{
    font-size: 48px;
    margin-bottom: 10px;
  }
  h2, h5{
    font-size: 16px;
    color: #336699;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  h3{
    font-size: 24px;
    display: block;
    text-align: center;
  }
  h4{
    font-size: 6px;
    color: #336699;
  }
  h5{
    text-align: center;
    margin: 5px 0;
  }
  .primarybuttons{
    margin: 0 auto;
    height: 500px;
    text-align: center;
  }
  p.centerParragraph {
    margin: 0 auto;
    width: 400px;
  }
  .features-list, .courses-list {
    display: flex;
    flex-direction: row; /*valor por defecto del flex*/
    margin: 0 auto;
    justify-content: center;
  }
  .features-item, .courses-item {
    padding: 20px;
    background-color: aliceblue;
    margin:10px;
    width: 200px;
  } 
  a {
    color: #336699;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    padding: 10px;
    } 
  .white-link {
    color: white;
  }
  a:hover{
    color: gold;
  }
.learn, .see{
    background-color: #336699;
    border-radius: 5px;
    margin: 10px 10px 0 0;
    height: 300px;
    width: 400px;
    padding: 10px;
    }
.see{
    background-color: gold;
}
.learn{
  color: gold;
}

.titles, .subtitle {
  margin-top: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 34px;
  display: block;
}
.caption{
  font-size: 15px;
  color: darkgray;
  font-style: oblique;
  font-weight: 50;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
}
.subtitle, h4{
  font-size: 24px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.feature {
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  width: 250px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.features {
  float: right;
}
.image{
  overflow: hidden;
  width: 100%;
}
.trainers{
  display: flex;
  flex-direction: row; /*valor por defecto del flex*/
  justify-content: space-between;
}
.trainer{
  padding: 20px;
  background-color: aliceblue;
  margin: 0 10px;
}
.courses-item {
  margin:10px;
  width: 200px;
  position: relative;
  float: right;
} 
.price{
  border-radius: 100%;
  padding: 15px;
  background-color: gold;
  font-weight: bold;
  font-size: 20px;
  color: #336699;
  position: absolute;
  display: flex;
  margin-left: 140px;
  margin-top: -40;
}
.design-button{
  background-color: #336699;
  margin: 10px 10px 0 0;
  height: 300px;
  width: 400px;
  padding: 10px;
}
a.design-button{
  color: white;
}
.social-media{
  display: flex;
  float: left;
  font-size: 16px;
  font-weight: bold;
  color: #336699;
  margin: 0 15px 0 15px;
  justify-content: center, space-between;
}
.likes{
  border-radius: 100%;
}
p.social{
  font-size: 10px;
  justify-content: center;
}
.blue-background{
  background-color: #336699;
  width: 100%;
  margin: 0 auto;
}
.register-title{
  color: white;
  text-align: left;
  width: 80%;
  padding: 20px 0px;
}
.time-left {
  background-color: rgba(248, 244, 244, 0.5);
  border-radius: 30%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 26px;
  padding: 10px;
}
.bold-white-text{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.form{
  background-color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
.time-left-list{
  display: inline-block;
  float: left;
  background-color: rgba (255, 255, 255, 15)
  }
.form-title{
  color: #336699;
  font-weight: bold;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.form-subtitle{
  color: grey;
  font-weight: bold;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 5px 0px;
}
input{
  border-bottom: gray;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  height: 10px;
}
.register-bttn{
  padding: 20px;
  width: 100%;
  background-color: gold;
  margin: 0 auto;
  }
.trainers-name, .trainers-position, .trainers-description{
    text-align: center;
  }
  .icon {
    color: gray;
  }
  