body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
} 
    
a{
    text-decoration: none;
    color: #121750;
    font-weight: bold;
    font-size: 18px;
}

a:hover{
    color: #F7AC06;
  }

.main-banner{
    background: url("../images/home-banner.jpg"); 
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat; 
    height: 100vh; /* vh = viewport height*/
}

.main-banner-content {
    height: calc(75% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
  
.container{
    margin: 0 auto;
    overflow: hidden;
    width: 95%;
    min-width: 900px;
    max-width: 1000px;
}

header{
    height: 50px;
}

.logo{
    float: left;
    margin-top: 10px
}

nav{
    float: right;
}

li{
    text-decoration: none;
    display: inline;
    font-size: 16px;
    font-weight: bold;
}

h3, h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #040832;
    margin: 0;
}

h1{
    font-size: 48px;
    margin-bottom: 55px;
}

h3{
    font-size: 22px;
    margin-bottom: 18px;
}

div.primarybuttons{
    text-transform: uppercase;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 50px 0 0 0;
}

.learn{
    color: #F7AC06;
    background-color: #040832;
    border-radius: 5px;
    border: none;
    padding: 20px 35px;
    display: inline-block;
    margin-right: 15px;
    text-align: center;
   
}

.see{
    color: #040832;
    background-color: #F7AC06;
    border-radius: 5px;
    border: none;
    padding: 20px 35px;
    display: inline-block;
    text-align: center;
    margin-left: 4px;
}


.index-menu li{
    display: inline;
    text-decoration: none;
    color: 4, 8, 50;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin-right: 30px;
}

.title-subtitle .PageTitle-blue{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: round;
    font-weight: bold;
    font-size: 36px;
    color: #121750;
    margin-top: 80px;
    margin-bottom: 15px;
    text-align: center;
}
  
.title-subtitle p.centerParagraph{
    margin: 0 auto;
    width: 550px;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 50px;
    color: #939399;
    text-align: center;
}

.features-list {
    display: flex;
    flex-direction: row; /*valor por defecto del flex*/
    justify-content: space-between;
    margin-bottom: 50px;
}
  
.features-item{
    padding: 20px;
    background-color: aliceblue;
    margin: 0 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #121750;
    font-size: 22px;
    margin: 10px 0 5px 0;
}

.features-item p{
    color: #939399;
    font-weight: bold;
    font-size: 16px;
    line-height: 25px;
}

.products{
    padding-top:0;
}

.product-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-list .product1, .product-list .product2, .product-list .product3{
    padding: 0;
    background-color: aliceblue;
    margin: 0 10px;
    position: relative;
}

.productInfo{
    padding: 18px;
    overflow: hidden;
}

.product-photo{
    position: relative;
}
.circlePrice{
    border-radius: 100%;
    border: 0;
    text-align: center;
    background-color: #F7AC06;
    font-size: 20px;
    font-weight: bold;
    color: #121750;
    padding: 15px;
    margin-right: 10px;
    float: right;
    position: absolute;
    top: 190px;
    right: 5%;
}

.Add-to-cart{
    background-color: #121750;
    padding: 10px 30px;
    border:0;
    font-size: 12px bold whitesmoke;
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 0px;
    display: inline-block;
}

.names{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #121750;
    font-size: 22px;
    margin-bottom: 5px;
}

.description-grey{
    color: #939399;
    font-weight: bold;
    font-size: 16px;
    line-height: 160%;
}

.sellerData{
    display: block;
}

.sellerAccount .sellerPhoto{
    border: 2px solid #121750;
    border-radius: 100%;
    float:left;
}

.sellerAccount{
    display: inline-block;
}

.sellerAccount a{
    font-size: 14px;
    font-weight: bold;
    color: #121750;
    text-align: center;
    line-height: 44px;
    margin-left: 5px;
   
}

.socialMedia{
    float: right;
}

.socialMedia a{
    margin-right: 10px;
    color: #121750;
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
}

.socialMedia img{
    margin-right: 5px;
}

/*TERCERA PARTE*/


.register-now{
    background-color: #050E31;
    padding: 100px 50px 100px 50px;
    margin-top: 90px;
}


.register-now-text{
    width: 60%;
    display: inline-block;
    color: whitesmoke;
    overflow: hidden;
}

.white-title-left{
    color: whitesmoke;
    font-size: 36px;
    font-weight: bold;
    text-align: left;
}

.text{
    color: whitesmoke;
    font-size: 16px;
    font-weight: normal;
    line-height: 140%;
}

.countdown{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.countdown div{
    background-color: #7781AC;
    border: 2px solid #BBC4E7;
    border-radius: 5px;
    padding: 30px 15px;

}

.countdown, .numbers, .word{
    color: whitesmoke;
    font-weight: bold;
}

.coundown, .numbers{
    font-size: 28px;
    margin-right: 5PX;
}


form{
    background-color: white;
    border: 1px solid #030521;
    display: flex;
    flex-direction: column;
    padding: 30px 45px;
    float: right;
    min-width: 200px;
}


form .form-title{
    font-size: 22px;
    color: #040832;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}

form p{
    font-size: 14px;
    color: #939399;
    text-align: center;
    margin-top:0px;
    margin-bottom: 25px;

}

form input{
    font: 12px  #E1E2E6;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 10px;

}


button, .submit{
    background-color: #F7AC06;
    font-size: 14px;
    font-weight: bold;
    color: #040832;
    border: 0;
    padding: 15px;
    margin-top: 30px;
}

.expert-1, .expert-2, .expert-3, .expert-4{
    text-align: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    margin: 10px;
}



.expert-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 70px;
}

.experts{
    display: block;
    padding: 5px 16px 20px 16px;
}



.expert-job{
    color: #939399;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
}

.description-grey-center{
    color: #939399;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 22px;
    margin-bottom: 10px;
}

.socialMedia-icons img{
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    margin-bottom: 15px;
}

/*sección events*/



.upcoming-events{
    background-color: #050E31;
    overflow: hidden;
}


.upcoming-events, .title-subtitle{
    margin-top: 80px;
}

.white-title{
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}


.event{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.event-details{
    background-color: #203175;
    color: whitesmoke;
    opacity: 0.6;
    width: 50%;
    position: absolute;
    overflow: hidden;
    align-content: flex-start;
    top: 0;
    right: 0; 
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
}

div.event.container{
    max-width: 950px;
   display: flex;
   overflow: hidden;
   margin-bottom: 80px;
}

.event1, .event2{
    position: relative;
  
}

.view-all{
    text-align: center;
    margin-bottom: 100px;
}

.view-all a{
    color: #F7AC06;
}

.date-place .number{
    color: #F7AC06;
    font-size: 24px;
    font-weight: bold;
}

.date-place{

}

.number, .month{
    display: block;
    max-width: 40px;
    margin: 0px;
    border-right: 1px;
}

ul.time-place{
    padding: 0px;
    

}

.event-text{
    color: whitesmoke;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
}

a .view.details {
    color: #F7AC06;
    padding: 10px 20px;
}


/*sección clientes */

.clients{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
}


.client1, .client2{
    display: flex;
    flex-direction: row;
    border: 0;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    margin-left: 30px;
    padding: 35px 30px;
    margin-bottom: 70px;
}

.client-info{
    margin-left: 25px;
}

.link-list, .link{
    text-align: center;
    text-decoration: none;
    margin-bottom: 100px;
}

.link{
    background-color: hsl(240, 3%, 59%);
    border: #939399;
    font-size: 4px;
    border-radius: 100%;
    padding: 5px;
    margin-right: 10px;
}


/*ultima sección*/

.last-section{
    background-color: #050E31;
    padding-top: 70px;
}

.end-list, .right-list, .left-list, .footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px; 
}

.right-list ul{
    display: flex;
    flex-direction: column;

}

.last-section .left-list .list-title, .last-section .right-list .list-title{
    color: whitesmoke;
    font-size: 16px;
    font-size: bold;
    padding-bottom: 50px;
}

.list-items{
    color: #939399;
    font-weight: normal;
    font-size: 14px;
    margin-top: 40px;
    line-height: 30px;

}


.socialMedia-squares img{
    background-color: #576188;
    padding: 8px;
    margin: 1px;

}

.footer{
    font-size: 13px;
    font-weight: bold;
    color: whitesmoke;
    padding-bottom: 80px;
}

.footer a{
    color: #F7AC06;
}


    
