body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.upcoming-events {display: none;}

.main-banner{
  background: url("../images/home-banner.jpg") no-repeat center bottom;
  background-size:cover;
  height: 100vh; /* vh = viewport height*/
}

ul.main-menu { display: flex;
    justify-content: space-between;
    flex-direction: row;
    float: right;
    margin: 0;}

li,a.headerbutton {list-style: none;
text-decoration: none;
color: #002444;
margin-right: 15px;
font-weight: bold;
font-size: 10px;}

.homeyellow {margin-right: 15px;
color: #ffc452;
text-decoration: none;}

.main-banner-content {height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start}

header{height: 60px;}

.container{margin: 0 auto;
  overflow: hidden;
  width: 65%;
  min-width: 600px;
  max-width: 900px;}

.logo{float: left;
  margin: 20px 0 0 0;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: #002444;
  height: 20px;
  line-height: 20px;}

nav{float: right;
  margin-top: 20px;}

h3, h1 {text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #002444;
  margin: 0;}

h1{font-size: 35px;
  margin-bottom: 40px;}

h3{font-size: 15px;
  margin-bottom: 12px;}

div.primarybuttons{margin: 0 auto;}

.blue-button,.yellow-button{text-decoration: none;
font-weight: bold;
margin: 0 10px;
padding: 12px 32px;
background-color: #002444;
border-radius: 5px;
color: #ffc452;
font-size: 10px;}

.yellow-button {background-color: #ffc452;
  color: #002444;}

.firstpart-white {height: 155vh;
margin: 0;}

.section-title {margin-top: 100px;
font-size: 28px;
color: #002444}

p.centerParragraph { margin: 0 auto;
  width: 500px;
  font-size: 12px;
  font-style: italic;
  text-align: center;
  color: grey}

.features-list {margin-top: 80px;
  display: flex;
  flex-direction: row; /*valor por defecto del flex*/
  justify-content: space-between;}

.features-item {padding: 10px 30px;
  background-color: #f9f9fe;
  margin: 0 10px;}

.features-item h4 {font-size: 15px;
font-weight: bold;
margin-bottom: 0;
color: #002444}

.features-item p {color: grey;
font-size: 10px;}

.courses-list {display: flex;
  justify-content: space-between;
  margin-top: 80px;}

.courses-item {display: block;
padding-bottom: 15px;
background-color: #f9f9fe;
margin: 0 15px;
position: relative;
width: 240px;
overflow: hidden;}


.design {text-decoration: none;
  color: white;
  background-color: #002444;
  display: block;
  width: 70px;
  text-align: center;
  margin: 10px 0 0 0;
  height: 25px;
  line-height: 25px;
  font-size: 10px;}

.price-img { width: 50px;
  height: 50px;
  background-color:#ffc452;
  border-radius: 50px;
  float:right;
  margin: 0 0 0 10px;
  text-align: center;
  line-height: 50px;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  right: 5%;
  top: 35%;}

  .item-title {color: #002444;
  font-weight: bold;
  font-size: 15px;
  display: block;}

  .item-p{color: grey;
  font-size: 12px;}

  .design,.item-title,.final-item-btn,.item-p{
  margin: 15px 15px 0 15px;}

  .final-item-btn {margin-top: 20px;}

  .avatar { width: 35px;
    height: 35px;
    border-radius: 35px;
    float: left;}

  .account-name {color: #002444;
  font-weight: bold;
  font-size: 12px;
  margin: 0 0 0 10px;
  height: 30px;
  line-height: 30px;}

 .reply-img{height: 10px;
   width: 10px;
   margin-left: 20px}

 .reply-btn {text-decoration: none;
color: #002444;
height: 10px;}

.secondpart-blue {height: 75vh;
  background-color: #002444;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;}

.register-data{
  display: flex;
  flex-direction: column;}

.register-box{display: flex;}

.signform {float: right;
background-color: white;
width: 200px;
height: 250px;
padding: 20px 35px 35px 35px;
text-align: center;}

.register-title,.register-p {color: white;
font-size: 30px;
width: 500px; 
overflow: hidden;}
 
.register-title{margin: 60px 0 0 0px;}
.register-p {font-size: 12px;
width: 460px;}
.signform h5 {font-size: 20px;
margin: 10px 0 0 0;}
.signform span {font-size: 12px;
color: grey;
display: flex;
justify-content: center;
margin: 0 0 30px 0;}

.submit-btn {background-color: #ffc452; 
  display: block;
text-decoration: none;
  color: #002444;
  font-weight: bolder;
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  margin-top: 25px;}

.blankspace {text-decoration: none;
  border-top: none;
  border-right: none;
  border-left: none;
  font-size: 10px;
  margin-bottom: 15px;
  font-weight: bold;
  }
.time {
  padding-inline-start: 0%;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  height: 50px;
}
.time li {background-color:#31506a;
color: white;
border: 1px solid white;
border-radius: 5%;
padding: 0 20px;
font-size: 25px;
height: 80px;
line-height: 80px;}

.time li .dif-letter {font-weight: none;
font-size: 12px;}

.third-trainers {height: 90vh;
  margin: 0;}

  .trainers-list { 
    display: flex;
    justify-content: space-between;
    margin-top: 80px;}
  
  .trainers-item {display: block;
  padding-bottom: 15px;
  background-color: #f9f9fe;
  margin: 0 15px;
  position: relative;
  width: 240px;
  overflow: hidden; }
    .trainers-title {color: #002444;
    font-weight: bold;
    font-size: 15px;
    display: block;
    text-align: center;
    margin: 10px 0 0 0;
    }
    .trainers-span {font-size: 10px;
    text-align: center;
    width: 40px;
    padding: 45px;
    color: grey;
    }
    .trainers-p{color: grey;
    font-size: 12px;
    text-align: center;
    margin: 20px 10px;}
  
    .final-trainers-btn {margin-top: 20px;
    display: flex;
  justify-content: center;}
  
   .social-btn {text-decoration: none;
  color: #002444;
  margin-right: 10px;
  }
  
.upcoming-events {height: 100vh;
margin: 0; 
background-color: #002444;}

.events{display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.upcoming-events .section-title {color: white;
margin: 0px;
padding: 35px 0 0 0;
}

.upcoming-events .centerParragraph {
padding: 0px;
margin-top: 15px;}

img.main-event-img {position: relative;
  width:400px;
  height: 300px;
}

span.cuadradogris{padding: 50px;
background-color: grey;
height: 30px;
position: absolute;
transform: translate(300px,0)}

.date{}

.datenumber{}

.place-time {}

.details-btn {background-color: #ffc452; 
text-decoration: none;
  color: #002444;
  font-weight: bolder;
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  margin-top: 25px;}

  @media (max-width: 600px) {
    ul.main-menu {display: none;}
    .logo {font-size: 40px;}

header {display: flex;
justify-content: center;}

    h1{font-size: 25px;
      margin-bottom: 40px;}
    
    h3{font-size: 10px;
      margin-bottom: 12px;}
    
    div.primarybuttons{margin: 0 auto;
    display: flex;
  flex-direction: column;
justify-content: center;}
    
.courses-list {display:flex;
flex-direction: column;
align-items: center;}
 
.firstpart-white {height: 220vh;
}

.final-item-btn {display: none;}

.item-p {display: none;}
.cuadradogris{display: none;}
.time {display: none;}
.register-box {display: flex;
flex-direction: column;
align-items: center;
text-align:center;}
.trainers-list {display: flex;
flex-direction: column;
align-items: center;}
.trainers-item{}
  }