/* DEFINICIONES GENERALES*/
html, body{
  font-size: 14px;
  background-color: #ffffff;
  margin:0;
}
body{
  color: rgb(2, 35, 97);
  font-family: Helvetica, Calibri, Arial;
}

.container{         /* esto te permite definir el ancho general de la web, y facilita futuras modificaciones*/
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
  max-width: 900px;
  min-width: 400px;
}

a{                            /*Comportamiento general de los links a*/
  text-decoration: none;
  color: rgb(2, 35, 97);
  font-weight: bold;
}

a:hover{                      /*Comportamiento general del estado hover de los links a*/
  color: rgb(255, 196, 0);
}

ul{                           /*Comportamiento general del estado hover de los links ul*/
  list-style:none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  display: block;
}

li{                         /*Comportamiento general del estado hover de los links a*/
  display: inline-block;
  padding: 15px;
  margin: auto 0;
}

.btn-group{                 /*estilos para el div que agrupa los botones*/
  width: 250px;
  margin:0 auto;
  overflow: hidden;
  display: flex;
  justify-content:center;
    /* position: relative; */
}

.btn{                       /* estilos generales para los botones */
  display: block;
  border-radius: 5px;
  width:110px;
  height: 30px;
  text-align: center;
  margin: 0 5px;
  line-height: 30px;
  font-variant-caps:all-small-caps;
}

.blue{                      /* estilo para elementos con fondo azul */
  color: rgb(255, 196, 0);
  background-color: rgb(2, 35, 97);
}

.blue:hover{                /* estilo para el hover de los elementos con fondo azul */
  color: rgb(7, 41, 104);
  background-color: rgb(255, 196, 0);
}

.yellow{                  /* estilo para elementos con fondo amarillo */
  color: rgb(7, 41, 104);
  background-color: rgb(255, 196, 0);
}

.yellow:hover{            /* estilo para el hover de los elementos con fondo amarillo */
  color:  rgb(255, 196, 0);
  background-color: rgb(2, 35, 97);
}

.main-banner{
    background: url("../images/home-banner.jpg") no-repeat center bottom;
    background-size: cover;
    height: 100vh; /*Viewport height*/
    text-align: center; 
    overflow: hidden;
    margin: 0 0 2% 0;
}

.main-banner header{
    width: 80%;
    height: 50px;
    display: block;
}

.main-banner header .logo{
    display: block;
    float: left;
    padding: 1% 0;
    margin: 1% 0; 
}

nav{
    float: right;
}

h2, h1{
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}

h1{
    font-size: 3em;
    margin: 0.5em;
}

.main-banner-content{
    height: calc(65% - 50px);  
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-banner .btn-group a.btn{
    display: block;
    float:left;
    /* position: absolute; */
}

section{
  padding: 5% 0 2% 0;
  overflow: auto; 
}

.section-details{
  /* margin: 0 0 5% 0; */
}

.section-name{
  text-align: center;
  font-size: 2em;
  margin: 0 0 2rem 0;
}

.title{
  text-transform: capitalize;
  font-weight: bolder;
  color: rgb(2, 35, 97);
}

.section-desc{
  color: #868686;
  font-size: 0.9em;
  font-style: italic;
  margin: 0 0 2em 0; 
}

.section-item-list{
  width: 100%;
  display: flex;
  flex-direction: row; /*es el valor que el flex trae por defecto*/
  justify-content: space-between;
}

.features{
  padding: 3%;
}

.item{
  background-color: rgb(247, 240, 255);
  margin: 1%;
  text-align: left;
  /* padding: 2%; */
  /* width: 30%; */
}

.features .title{
  margin:1.5rem 0 0 0;
}

.icon i{
  font-size:2.5em;
}

.description{
  color: #868686;
  font-size: 0.95em;
  font-weight: normal;
  /* width: 80%; */
  margin: 1rem 0 0 0;
  line-height: 2em;
}

.courses{
  padding: 0;
  margin: 0 2%;
  position: relative;
  overflow: hidden;
}

.item-img img{
  display: block;
  width: 100%;
  height:50%;
  margin: 0;
  border: none;
  object-fit: cover;
  object-position: center; 
}

.courses.title{
  margin: 3em 0 0 0;
}

.course-descr{
  /* width: 80%; */
  /* height: 80%; */
  padding: 7%;
}

.course-price{
  display: block;
  float: right;
  position: absolute;
  font-size: 1.2em;
  right: 5%;
  top: 43%;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  line-height: 4rem;
  text-align: center;
  margin: 0%;
  background-color: rgb(255, 196, 0);
  font-weight: bold;
}

.social-data-interaction{
  /* line-height: 50px; */
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  margin: 10% 0 0 0;
  align-items: stretch;
  /* align-content: space-around; */
}

.social-profile{
  flex-grow: 1;
  align-self: flex-start;
}

.avatar{
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  border-radius: 1.5em;
  /* background-color: #868686; */
  overflow: hidden;
}

.avatar img{
  width: 100%;
  height: 100%;
  display: inline;
  object-fit: cover;
  object-position: center;
}

.social-profile p{
  display: inline-block;
  margin: 0;
  font-weight: bold;
  font-size: 0.8em;
  line-height: 3em;
}

/* .social-profile{

} */

.inner-btn {
  width: fit-content;
  padding: 2% 10%;
  text-align: center;
  line-height: 1em;
}

.inner-btn a{
  display: inline-block;
  color:#ffffff;
  text-transform: uppercase;
  font-size: 0.7em;
  /* padding: 0.2rem 1rem;  */
  width: auto;
}

.blue-sect{
  background-color: rgb(2, 35, 97);
  color:#ffffff;
  overflow: hidden;
  padding: 7% 0;
}

.left{
  text-align: left;
  color: #ffffff;
}

/* .two-column{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

.regis-content{
  width: 60%;
  position: relative;
  float: left;
  /* display: flex-box;
  flex-direction: column;
  flex:2;
  align-content: space-around; */
}

.regis-content .section-details{
  padding: 5%;
}

.counter-container{
  width: 100%;
  /* padding: 5% 0 0 0; */
  display: flex;
  justify-content: center;
  align-content: space-around;
}

.counter{
  display: block;
  width: 20%;
  height: 6em;
  padding: 1%;
  margin: 0.5em;
  line-height:6em; 
  background-color: #ffffff1e;
  border: #ffffff31 0.1em solid;
  border-radius: 0.4em;
  text-align: center;
  font-size: 0.8em;
  /* font-weight: bold; */
}

.big-text{
  font-size: 3em;
  font-weight: bold;
}

.registration-form{
  width: 22%;
  float: right;
  margin: 0;
  background-color: #ffffff;
  padding: 3%;
  text-align: center;
}

.form-title{
  color: rgb(2, 35, 97);
  font-size: 1em;
  font-weight: bold;
  display: block;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  padding: 1%;
}

.form-tagline{
  display: block;
  color: rgb(2, 35, 97);
  font-size: 0.7em;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  font-weight: lighter;
}

.form-data{
  display: block;
  width: 100%;
  margin: 10% 0 0 0;
}

.form-data input[type=text]{
  display: block;
  text-align: left;
  font-size: 0.7em;
  border: none;
  border-bottom: 1px solid #cccccc;
  padding: 5%;
  width: 90%;
}

.form-data button{
  display: inline-block;
  border: none;
  width: 100%;
  padding: 1rem 0;
  margin: 1.5rem 0 0 0;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.trainer{
  width: 23%;
  margin: 0 1%;
  text-align: center;
  color: #868686;
  box-shadow: 0 0 5px #cccccc;
  min-height: auto;
  display: flex;                      /*para garantizar que el contenedor general cubre a los hijos que tienen flex dentro de ellos se usan estas declaraciones de flex con el STRETCH */
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
}

.trainer .item-img{
  display: block;
  width: 100%;
  height: 40%;
}

.trainer .item-img img{
  height:100%;
  object-fit: cover;
  object-position: center;
}
.trainer-name{
  font-size: 1.2em;
  padding: 7%  0 0 0;
  margin: 0;
}

.trainer-position{
  font-size: 0.75em;
  font-weight: bold;
  padding: 0 0 5% 0;
  margin:0;
}

.trainer-phrase{
  font-size: 0.9em;
  font-weight: normal;
  display: block;
  width: 85%;
  margin: 0 auto;
  text-align: center;
  line-height: 1.4rem;
  padding: 10% 0 5% 0;
}

.trainer-socialnetworks {
  width: 40%;
  margin: 5% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trainer-socialnetworks i{  
  font-size: 0.7em;
  color: #cccccc;
}

.event-details{
  position: relative;
  width: 48%;  
  overflow: hidden;
  /* object-fit: cover;
  object-position: center */
}

.event-details img{
  margin: 0;
  border: none;
  padding: 0;
  object-fit: cover;
  object-position: center;
}

.event-info{
  width: 50%;
  height: 50%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgba(2, 35, 97, 0.479);
  color:#ffffff;
  padding: 5%;
}

.event-info-topline{
  display: flex;
  flex-direction: row;
}
.event-date{
  position: relative;
  float: left;
  border-right: 1px solid #ffffff;
  padding: 0 5% 0 0;
}

.event-day{
  display: block;
  color: rgb(255, 196, 0);
  font-size: 2em;
  font-weight: bolder;
  text-align: left;
  padding: 0;
  margin: 0;
}

.event-month {
  margin: 15% 0 0 0;
  font-weight: bold;
  font-size: 1em;
  display: block;
}

.event-hours-location{
  text-align: left;
  margin: 0 0 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.event-hours-location i{
  margin: 0 5% 0 0
}

/* @media (max-width: 400px) */

