* {
    box-sizing: border-box;
  }
  
  p,ul{
    margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;   
  }
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#021b35;
    margin: 0;
  }
  
  .logo {
  
  display: block;
  float: left;
  margin-top: 57px;
  margin-left:30px;
  
  
  }
  .principal-menu {
    display: block;
    float: right;
    margin-top: 60px;
  margin-right:50px;
  font-weight: bold;
  
  }
  
  
  menu {
    list-style: none;
    color:#021b35;
    font-weight: bold;
  
  }
  
  li {
    display:inline-flex;
    justify-content: flex-end;
    margin-left: 50px;
    color:#021b35;
  
  }
  
  a {
    text-decoration: none;
  }
  
  a:link {
    color:#021b35;
  }
  a:hover {
    color: #FDC733;
  }
  
  
  .main-banner {
    background-image:  url("../images/home-banner.jpg");
    background-repeat:  no-repeat;
    width: 100%;
    height:875px;
    background-size: contain;
    
  }
  
  .container {
    margin: 0 auto;
    overflow: hidden;
    width: 90%;
    min-width: 600px;
    max-width: 900px;
  }
  .main-banner-content {
    height: calc(80vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  h1 , h3 {
    display: flex;
    margin: 0;
    justify-content: center;
    text-align: center;
  }
  
  h3 {
   
    font-size: 18px;
  }
  
  h1 {
   
  
    font-size: 40px;
  
   
  }
  
  .primary-buttons {
    display: flex;
    justify-content:center; 
    align-items: center;
    margin-top: 50px;
  }
  
  .button1 {
    width: 160px;
    height: 50px;
    background-color:#021b35;
    margin-right: 20px;
    border-radius: 5px;
    color: #FDC733;
    font-weight: bold;
    line-height: 50px;
    padding: 0px 25px 0 25px; 
    display: flex;
    justify-content:center; 
    align-items: center;
  }
  
  a.button1 {
    color: #FDC733;
  }
  
  .button2 {
    width: 160px;
    height: 50px;
    background-color: #FDC733;
    font-weight: bold;
    border-radius: 5px;
    line-height: 50px;
    padding: 0 25px 0 25px;
    display: flex;
    justify-content:center; 
    align-items: center;
  }
  
  a.button2:hover {
    color: #021b35;
  }
  
  section h3 {
    display: flex;
    margin: 20px 0 30px 0;
    justify-content: center;
    text-align: center;
     font-size: 20px;
  }
  
  .center-paragraph {
    display:flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
  }
  
  .features-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 40px;

    }
  
  .features-item {
    padding: 10px 14px 17px 39px;
    width: 300px;
    background-color: rgb(225, 230, 235);
    margin: 0 20px 
  
  }
  .icon-book{
    width:30px;
    height:30px;
    
  }
  .icon-money{
    width:30px;
    height:30px;
    
  }
  .icon-world{
    width:30px;
    height:30px;
    
  }
  
  h5 {
    margin-top:1px;
    font-size: 14px;
  }

  .our-popular-courses-container {
  display:flex;
  justify-content: center;
  padding: 50px;
  
  }
  
  .image-cointainerb img {
   display: flex;
   
  }
  
  .courses-image{
    width: 330px;
    height: 259px;
    
  }
  
  .price {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #FDC733;
    position: relative;
    top:-163px;
    left:248px;
  
  }
  
  .price-style {
    color: #021b35;  
    font-size: 25px;
    font-weight: bold;
    line-height: 60px;
    margin-left: 5px; 
  }
  
  
  .course-content {
    display: block;
    float:left;
  }
  
  .call-to-action-design {
    width:80px;
    height:30px;
    background-color: #021b35;
    color: #ffffff;
    margin-top: 2px;
    position: relative;
    top: -8px;
    left:-228px;
    box-sizing: border-box;
  }
  
  .text-inside-courses-box {
  
    text-align: left;
    margin-left:20px;
  }
  
  .text-inside-courses-box  h3{
  
   padding-bottom: 10px; 
  }
  
  .course-list {
    display:flex;
    justify-content: flex-end;
    position: relative;
    top: 204px;
    left: -62px;
  }
  
  .course-details-block
  {
  
    position: relative;
    top: 50px;
    left: 50px;
  }
  
  span {
    margin-left:12px;
  }
  .course-avatar img {
    width:30px;
    left: 30px;
    border-radius:30px;
   
  }
  
  .course-box-one, .course-box-two , .course-box-three {
    width: 330px;
    height: 600px;
  margin: 20px 0 20px 30px;
  justify-content: center;
  background-color: #f9f9ff;
  }
  .icon-details {
    width: 20px;
    height: 20px;
    margin-right:0px;
  }
  
  .details-likes-people {
    margin-left:6px;
    display: flex;
  }
  
  .mini-icons {
    padding: 0 3px 0 3px;
  }
  /*Register now*/
  .register-now {
    background-color: #021b35;
    color: white;
    width:100%;
    height: 639px;
    
  }
  .text-register-now {
    margin: 10px 0 0 200px;
   display: flex;
   flex-direction: left;
   justify-content: left;
  }
  
  .register-now-subtitles{
    position: relative;
    top:150px;
    left: -260px;
    margin-top: 20px;
  }
  
  h4 {
    font-size: 42px;
  }
  
  
  
  .counter {
    display: flex;
    flex-direction: initial;
    
  }
  
  .counter span {
    font-size: 40px;
    font-weight: bold;
    padding-left:20px;
    line-height: 100px;
  }
  
  .days , .hours , .mins , .secs {
    width: 155px;
    height: 123px;
    border: white 1px solid;
    border-radius: 5px;
    margin-left:20px;
    background-color: rgba(255,255,255, 0.2);
    display: block;
    float: right;
    margin-top:200px;
    position:relative;
    left: 169px;
  }
  
  .register-form {
    background-color: #ffffff;
    text-align: center;
    width: 350px;
    height:379px;
    color: black;
   display: flex;
   justify-content: center;
   margin-right: 0;
   margin-left:1000px;
   margin-top:10px;
   margin-bottom:100px;
   position: relative;
   top:-350px;
   left:-66px;
  }
  
  form-text p{
    margin-top: 2px;
  }
  h5 {
    font-size:25px;
    padding-top:40px;
    margin-bottom: 1px;
  }
  
  input {
    border-style: none;
    border-bottom: 1px solid grey;
    padding: 20px;
    line-height: 10px;
  }
  
  button {
    background-color:  #FDC733;
  width: 190px;
  height: 40px;
  border: 1px solid  #FDC733;
  margin: 20px;
  }
  
  .trainers-container 
  {
  display: flex;
  justify-content: space-around;
  
  padding: 20px;
  
  }
  
  .trainer-one , .trainer-two , .trainer-three , .trainer-four {
    width: 285px;
    height: 466px;
    background-color: #ffffff;
     margin: 20px 0 20px 100px;
    box-shadow: 0 2px 2px 2px #cccccc;
  }
  
  .trainer-one {
    width: 285px ;
    height: 466px;
  }
  .image-container-experts {
    display: flex;
  }
  
  .experts-image {
    width: 255px;
    height: 223px;
  }
  
  .text-experts{
  text-align: center;
  margin: 10px;
  
  }
  
  /*Upcoming events*/
  .upcoming-events-container {
    background-color: #021b35;
    width: 100%;
    height:890px;
    color: white;
  }
  
  .image-view-details-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  }
  
  .events-image {
    width: 610px;
    height: 440px;
  }
  .image-view-details-one , .image-view-details-two {
    width: 610px;
    height: 440px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px 0 0 45px;
  }
  
  h4, .upcoming-events-text{
    display: flex;
    margin: 0;
    justify-content: center;
    text-align: center; 
  
  }
  
  h4 {
    padding-top:100px;
    margin-bottom: 5px;
  }
  
  .upcoming-events-text {
  font-style: italic;
  color: grey;
  }
  
  .view-all-event {
    display: flex;
    margin: 0;
    justify-content: center;
    text-align: center; 
    margin-top:50px;
    color: #FDC733; 
  }
  
  
  /*clients*/
  .client-say-container
  {
    display:flex;
    justify-content: center;
    padding:20px;
  }
  .image-testimonial-container {
    display: flex;
  }
  .testimonial-image {
    width:121px;
    height:121px;
    position: relative;
    top: 55px;
    left:46px;
  }
  .testimonial-one , .testimonial-two {
    width:535px;
    height: 239px;
    background-color: white;
    box-shadow: 0 2px 2px 2px #cccccc;
    margin-left: 40px;
  }
  
  .testimonial-text {
    text-align: left;
    margin: -96px 5px 5px 212px;
  }
  
  footer{
    background-color: #021b35;
    width:100%;
    height:567px;
    color: white;
    padding-left:20px;
    padding-top:80px;}
  
  .top-products , .quick-links, .features , .resources , .newsletter {
   
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-content: center;
  
   
  }
  
  footer li {
    color: grey;
    padding-bottom:20px;
    justify-content: left;
  }
  
  .footer-nav {
    display: block;
    float: left;
    margin-top: 60px;
  margin-right:5px;
  }
  
  .footer-subtitles {
    color: white;
    font-weight: bold;
  }
  
  .suscribe-form {
    display: flex;
    flex-flow: row wrap;
    align-items:  center;
  }
  .suscribe-placeholder{
    
    display: inline-flex;
    flex-flow: row;
    align-items: inherit;
    margin-left:-324px;
    margin-top:166px;
    margin-right: 58px;
    
   }
  
  
  
  .input-suscribe{
    height: 40px;
  border: none;
  width: 80%;
  font-weight: 300;
  background: #334f6c;
  color: #ffffff;
  border-radius: 0;
  font-size: 14px;
  padding: 10px;
  padding-left: 20px;
  
  }
  
  
  
  