body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#002347;
    margin:0;
}

a:visited {
    color:inherit;
}

a {
    text-decoration:none;
}

ul {
    list-style:none;
}

.main-banner {
    background:URL(" ../images/home-banner.jpg") center bottom;
    background-size:cover;
    font-weight:bold;
    height:105vh;
}

.main-banner header {
    overflow:hidden;
    display:flex;
    justify-content:space-around;
}

.header-logo {
    float:left;
    margin: 20px;
}

.header-logo-img {
    height:60%;
}

.main-banner header nav {
    float:right;
}

.main-banner header nav ul {
    margin:0;
    padding:0;
    font-size:10px;
}

.main-banner header nav ul li {
    display:inline-block;
    margin: 20px 15px;
}

.main-banner .icon {
    height:15px;
    width:auto;
}

.main-banner-content {
   text-align:center;
   margin: 100px 0 0 0;
}

.main-banner-content > p {
    font-size:14px;
}

.main-banner-content > h1 {
    font-size:30px;
    margin:0;
}

.main-menu {
    display:flex;
    flex-wrap:nowrap;
    justify-content:center;
    margin:40px;
}

.main-banner .main-menu .button {
    border: 1px solid; 
    border-radius:5px;
    text-align: center;
    margin: 0 10px; 
    font-size:10px;
    padding:10px 20px;
    width: 80px;
}

.main-banner .main-menu .button.one {
    border-color:#002347;
    background-color:#002347;
    color:#f7ac06;
}
.main-banner .main-menu .button.two {
    border-color:#f7ac06;
    background-color:#f7ac06;
    color: #002347;
}

.features, .courses, .trainers, .upcoming-events {
    margin:15vh;
}

.secondary-title {
    text-align:center;
    font-weight:bolder;
    font-size:25px;
    margin:0;
}

.secondary-descriptor {
    text-align:center;
    font-style:italic;
    color:grey;
    font-size:10px;
    margin:10px 0 0 0;
}

.features-selection, .course-carousel, .trainer-list {
    display:flex;
    flex-direction:row;
    padding:0;
    margin: 40px auto;
    width:75%;
    justify-content: center;
}

.features-selection .icon, .courses .icon {
    height:30px;
}

.features-selection > li {
    margin:10px;
    background-color:#f9f9fe;
    padding:20px;
}

.product-title {
    margin:10px 0;
}

.product-descriptor {
    margin:0;
    font-size:10px;
    color:gray;
}

.course-carousel > li {
    margin:10px;
    background-color:#f9f9fe;
    position:relative;
}

.courses .price-tag {
    display:block;
    background-color:#f7ac06;
    width: 50px;
    height:50px;
    border-radius: 50px;
    border: 1px solid #f7ac06;
    text-align: center;
    color:#002347;
    line-height: 50px;
    font-weight: bold;
    position:absolute;
    top: 35%;
    left: 85%;
    transform: translate(-50%, -50%)
    /*no hacerlo con porcentajes, estimar a qué distancia del 0 quiero que esté.*/
}

.course-image {
    width:100%;
}

.course-content {
    padding:20px;
}

a.course-button {
    display:block;
    border: 1px solid; 
    text-align: center;
    padding: 5px 10px;
    width: 40px;  
    font-size: 10px;
    font-weight:bold;
    border-color:#002347;
    background-color:#002347;
    color:white;
    margin-bottom:20px;
}

.course-footer, .course-footer > a {
    display:flex;
    flex-wrap:wrap;
    font-size:10px;
    font-weight:bold;
}

.author-img {
    max-height:45px;
}

.registration {
    background:#002346;
    color:white;
    display:flex;
    justify-content: center;
    padding:50px;
}

.registration-notform {
    margin:50px 15px;
}

.registration-text {
    width:600px;
    padding:20px;
    margin-bottom:20px;
}

.secondary-title-1 {
    font-weight:bolder;
    font-size:25px;
    margin:0;
    }
    
.secondary-descriptor-1{
    font-size:10px;
    margin:10px 0 0 0;
}

.date-box {
    display:inline-block;
    background: #334f6c;
    border: 1px solid darkgrey;
    width:150px;
    height:100px;
    border-radius:5px;
    text-align:center;
    line-height:100px;
    font-size:11px;
}

.date-box > span {
    font-size:25px;
    font-weight:bolder;
}

.registration-form {
    background:white;
    color:gray; 
    padding:20px 15px;
    text-align:center;
}

.registration-form > h4 {
    color:#002347;
    margin: 12px 0 0 0;
}
.registration-form > p {
    margin: 0 0 20px 0;
    font-size:10px;
}


.registration-form > input {
    display:block;
    margin:20px;
    border: 0;
    border-bottom:1px solid darkgrey;
}

.registration-form > span {
    display:block;
    border: 1px solid #f7ac06; 
    background:#f7ac06;
    color:#002347;
    font-size:10px;
    font-weight:bold;
    text-align: center;
    margin: 0 10px; 
    font-size:10px;
    padding:10px 20px;
    width: 70%;
}

.icon-small {
    height:15px;
}

.social-media {
    display:flex;
    flex-direction:row;
    padding:0;
    margin: 40px 20px 0;
/*    width:75%;*/
    justify-content: space-evenly;
}

.trainer-list > li {
    margin:10px;
    width: 20vw;
/*    padding:20px;*/
    box-shadow: 10px red;
}

.trainer {
    max-height:160px;
    overflow:hidden;
}

.trainer-image {
    width:100%;
}

.trainer-text {
    padding: 10px;
    text-align:center;
    display:block;
}

.trainer-name {
    margin:10px 0 5px 0;
}

.trainer-role {
    margin:0;
    font-weight:bold;
    font-size:8px;
    color:gray;
}

.trainer-descriptor {
    margin:15px 0 0 0;
    font-size:10px;
    color:gray;
}

.upcoming-events {
    background:#002346;
    color:white;
    margin:0;
    padding:50px;
}

.event-list {
    display:flex;
    padding:0;
    margin: 40px auto;
    width:75%; /*pero no me gusta cómo queda sin esto; para agregarlo necesito ver qué hago con el tamaño de los event-box*/
    justify-content: center;
}

.event-box {
    /*height:400px;
    width:550px;*/
    overflow:hidden;
    margin:0 10px;
    position:relative;
}

.event-box > img {
    width:100%;
}

.event-detail {
    position:absolute;
    top:0;
    right:0;
    width:40%;
    /*height: 250px;*/
    padding: 20px 15px;
    background-color:rgba(33, 65, 97, 0.5)
}

.event-box image {
    width:100%;
    height:auto;
}

.event-date {
    font-size:10px;
    float:left;
    text-align:center;
    margin:0;
    padding: 0 5px;
    margin:0 5px 0 0;
    border-right:1px solid #fff;
}

.event-date > span {
    font-size:20px;
    font-weight: bold;
    color:#f7ac06;
    display:block;
}

.event-venue {
    font-size:8px;
}

.event-venue > p {
    margin:8px 0cd;
}

.icon-very-small {
    height:8px;
}

.event-description {
    font-size:10px;
    margin:20px 0;
}

.view-details {
    display:block;
    border: 1px solid #f7ac06; 
    text-align: center;
    margin: 0 auto; 
    font-size:10px;
    padding:10px 20px;
    width: 80px;
    background-color:#f7ac06;
    color:#002347;
}

