body{
    margin: 0
}

.main-banner {
    background-image: url("../images/home-banner.jpg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    margin: auto;
    overflow: hidden;
    width: 90%;
    min-width: 600px;
    max-width: 900px;
}

.main-banner-content .container{
    height: calc(100vh - 50px);
    display: flex;
    margin-top: 60px; 
    flex-direction: column;
    justify-content: center; 
}

header {
    height: 50px;
}

.logo {
    margin: 0 auto;
    float: left;
    padding: 10px;
}

nav li, a{
    list-style: none;
    float: right;
    display: inline;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px; 
    font-weight: bold;
    text-decoration: none;
    color: #01012b;
}

li :hover{
    color: #F1C40F;
}

h3, h1{
    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #01012b ;
}

h1 {
    font-size: 24px;
}

h3 {
    font-size: 12px;
    margin-top: 40px;
    margin-bottom:  12px;
}

.main-banner-content div.primaryButtons {
    display: flex;
    margin: 0 auto;
    margin-left: 340px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
    border-radius: 6px;
}

.main-banner-content .button1 {
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    color: #01012b;
    background-color: #F1C40F  ;
    cursor: pointer;
    text-decoration: none;

}

.button2 {
    font-size: 12px;
    width: 100px;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    color: #F1C40F ;
    background-color: #01012b;
    cursor: pointer;
    text-decoration: none;
    margin: 0 0 0 12px;
}

.awesomeFeature {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

p.centerParragraph {
    display: block;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    width: 300px;
  }

.features-list {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.features-item {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    background-color: #CCD1D1;
    margin: 0 10px;
}

.ourPopularCourses {
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

p.centerParragraph2 {
    margin: auto;
}

.features-list2 {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.features-item2 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    background-color: #CCD1D1;
    margin: 0 10px;
}