* {
  box-sizing: border-box;
}

p,ul{
  margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;   
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#012348;
  margin: 0;
}

.logo {

display: block;
float: left;
margin-top: 57px;
margin-left:30px;


}
nav {
  display: block;
  float: right;
  margin-top: 60px;
margin-right:50px;
}

ul {
  list-style: none;
  color:#012348;
  font-weight: bold;

}

li {
  display:inline-flex;
  justify-content: flex-end;
  margin-left: 50px;

}

a {
  text-decoration: none;
}

a:link {
  color:#012348;
}
a:hover {
  color: #FDC733;
}


.main-banner {
  background-image:  url("../images/home-banner.jpg");
  background-repeat:  no-repeat;
  width: 100%;
  height:1000px;
  
}

.container {
  margin: 0 auto;
  overflow: hidden;
  width: 90%;
  min-width: 600px;
  max-width: 900px;
}
.main-banner-content {
  height: calc(80vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}


h1 , h3 {
  display: flex;
  margin: 0;
  justify-content: center;
  text-align: center;
}

h3 {
 
  font-size: 18px;
}

h1 {
 

  font-size: 40px;

 
}

.primary-buttons {
  display: flex;
  justify-content:center; 
  align-items: center;
  margin-top: -250px;
}

.button1 {
  width: 160px;
  height: 50px;
  background-color:#012348;
  margin-right: 20px;
  border-radius: 5px;
  color: #FDC733;
  font-weight: bold;
  line-height: 50px;
  padding: 0 25px 0 25px; 
}

a.button1 {
  color: #FDC733;
}

.button2 {
  width: 160px;
  height: 50px;
  background-color: #FDC733;
  font-weight: bold;
  border-radius: 5px;
  line-height: 50px;
  padding: 0 25px 0 25px;
}

a.button2:hover {
  color: #012348
}

section h3 {
  display: flex;
  margin: 20px 0 30px 0;
  justify-content: center;
  text-align: center;
   font-size: 20px;
}

.center-paragraph {
  display:flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
}

.features-list{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
  margin-bottom: 40px;


}

.features-item {
  padding: 20px;
  width: 40%;
  background-color: aliceblue;
  margin: 0 10px 

}

.our-popular-courses-container {
display:flex;
justify-content: center;
padding: 50px;
}

.course-box-one, .course-box-two , .course-box-three {
display:flex;
flex-direction: row;
width:330px;
height:297px;
background-color: pink;
margin: 20px 0 20px 30px;
justify-content: center;
}

.register-now {
  background-color: #012348;
  color: white;
  width:100%;
  height: 639px;
}
.text-register-now {
  margin: 10px 0 0 150px;
 position: relative;
 top:50px;
 left:100px;
}
h4 {
  font-size: 42px;
}

.counter {
  position: relative;
  top: 200px;
  right: 1000px;

}

.counter span {
  font-size: 40px;
  font-weight: bold;
  padding-left:20px;
  line-height: 100px;
}

.days , .hours , .mins , .secs {
  width: 155px;
  height: 123px;
  border: white 1px solid;
  border-radius: 5px;
  margin-left:20px;
  background-color: rgba(255,255,255, 0.2);
  display: block;
  float: right;
}

.register-form {
  background-color: #ffffff;
  text-align: center;
  width: 350px;
  height:379px;
  color: black;
  position: relative;
  top:20px;
  left:1200px;
}

form-text p{
  margin-top: 2px;
}
h5 {
  font-size:25px;
  padding-top:40px;
  margin-bottom: 1px;
}

input {
  border-style: none;
  border-bottom: 1px solid grey;
  padding: 20px;
  line-height: 10px;
}

button {
  background-color:  #FDC733;
width: 190px;
height: 40px;
border: 1px solid  #FDC733;
margin: 20px;
}