body{
    margin: 0;
    font-family:  'Roboto Slab', serif;    
    color: rgba(54, 54, 218, 0.897);
}

.main-banner{
    background: url("../images/home-banner.jpg") center bottom no-repeat;
    height: 700px;
    background-size: cover;

    
}

.container{
    max-width: 900px;
    min-width: 500px;
    margin: auto;
    width: 90%;
    overflow: hidden;

}

header {
    line-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 90px;

}

ul {
    display: flex;
    padding: 0;
}
li {
    list-style: none;
    display: flex;
    padding: 0 15px 0 0;
}

a{
    text-decoration: none;
    color: rgba(54, 54, 218, 0.897);
}
li a{
    font-size: 12px;
    font-weight: bold;
}

li a:hover{

    color: rgb(211, 177, 24);
}

h3, h1 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

h3 {
    font-size: 15px;
}
h1 {
    font-size: 30px;
}

div .main-cta{
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 10px 0;
 
}
div .main-cta .cta{  
    display: flex;
    justify-content: space-around;
    width: 400px;

}

div .main-cta .cta a{
    border-radius: 10px;
    width: 150px;
    padding:10px 0;
    text-align: center;
    background-color: rgba(54, 54, 218, 0.897);
    color:  rgb(211, 177, 24);
    font-weight: bold;

}

div .main-cta .cta a.cta-learn:hover{
    background-color: rgb(211, 177, 24);
    color: rgba(54, 54, 218, 0.897);
}

div .main-cta .cta a.cta-course{
    background-color: rgb(211, 177, 24);
    color: rgba(54, 54, 218, 0.897);
}

div .main-cta .cta a.cta-course:hover{
    background-color: rgba(54, 54, 218, 0.897);
    color:  rgb(211, 177, 24);
}

section .features {
    margin: 50px 0 0 0;
   }
p {
 text-align: center;
 color: rgb(80, 82, 82);
 font-size: 10px;
}

section .features-list{
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
section .features-list .features-item{
    background-color: rgb(247, 249, 249)  ;
    margin: 0 10px 0 0;
    padding: 10px;
}

section .features-list .features-item h4{
    font-size: 18px;
}
section .features-list .features-item p{
    font-size: 15px;
    text-align: left;

}
section .features-list .features-item .icon{
    font-size: 40px;
}
.courses{
    width: 250px;
    height: 400px;
    position: relative; 
    display: inline-block;
    margin: 0 10px 0 0 ;
    background-color: rgb(198, 245, 245)  ;
}

section .courses-info{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;

}
.courses img{
    width: 250px;
    height: 200px;

}

.courses .courses-price{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(247, 247, 63);
    position: absolute;
    right: 10px;
    top: 175px;
}

.courses .courses-price p{ /*no estoy segura de esto*/
    margin: 0;
    padding: 12px 0 0 0;
    color:  rgba(54, 54, 218, 0.897);
    font-size: 17px;
    font-weight: bold;
}
.courses .courses-detail{
    width: 250px;
    height: 200px;
}

.courses .courses-detail div{
    padding: 10px;
}
.courses .courses-detail .courses-cta{
    background-color:  rgba(54, 54, 218, 0.897);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    width: 60px;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.courses .courses-detail p{
    text-align: left;

}

.courses .courses-detail .user{
    position: relative;

}
.courses .courses-detail .user img{
    border-radius: 50px;
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 17px;
}

.courses .courses-detail .user p{
    display: inline-block;
    position: absolute;
    left: 34px;
}

.courses .courses-detail .user .courses-icons{
    position: absolute;
    right: 10px;
    padding: 3px 0 0 0;
}
.courses .courses-detail .user .courses-icons a{
    font-size: 10px;
    text-align: right;
    padding: 0 4px 0 0;
}

.courses .courses-detail .user .courses-icons span{
    margin: auto;

}
.box{
    background-color: rgb(22, 34, 120);
}


.register{
    display: inline-flex;
    flex-direction: column;
    width: 60%;
    margin: 20px 0 0 0;

}
.register h3, p{
    color:#ffffff;
    text-align: left;
}
.register h3{
    font-size: 20px;
    font-weight: bold;
   text-transform: capitalize;
  
}

.register p {
    font-size: 10px;
    

   
}

.register .register-details {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
    
    
}

.register .register-details div{
    width: 100px;
    height: 100px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(150, 150, 226, 0.842);
    margin: 0 10px 0 0; 
    flex-wrap: wrap;
}

.register .register-details div p{
    margin: 0 2px 0 0;
    font-size: 30px;
    font-weight: bold;
}
.register .register-details div span{
    font-size: 10px;
    color: #ffffff;

}
 .register-form{
    display: inline-flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 300px;
    width: 30%;
    align-items: center;
    margin: 20px 0 20px 0;
   

}
.register-form h6{
    font-size: 20px;
    color: blue;
    padding: 10px 0 0 0;
    margin:auto;


}
.register-form p{
    color: grey;
}
.register-form label{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px 0 15px 0;

}

.register-form input{
    border: none;
    border-bottom: 1px solid black;
}
.register-form button{
    width: 170px;
    height: 70px;
    margin: 15px 0 0 0;
    background-color: yellow;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}
